.parent {
    display: flex;
    justify-content: space-between;
    font-family: sans-serif;
    gap: 20px;
}

.card {
    width: 353px;
    height: 290px;
    padding: 15px;
    align-items: center;
    align-content: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.255);
    margin-right: 0;
}

.harga {
    display: flex;
    justify-content: space-between;
    gap: 0px;
    align-items: center;
}

.harga h1 {
    font-size: 17px;
}

.kategori {
    color: rgb(93, 92, 92);
    font-weight: bold;
}

@media screen and (max-width : 600px) {
    .parent {
        display: block;
        align-content: center;
        justify-content: center;
    }

    .card {
        margin-bottom: 20px;
    }
    
}
