h1 {
    font-size: 24px;
}

.font-besar {
    font-size: xx-large;
    font-weight: bold;
}

.font-kecil {
    font-size: small;
}

p {
    font-size: 20px;
    font-weight: 500;
}

.normal {
    font-size: 20px;
    font-weight: bold;
}

.italic {
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
}

.oblique {
    font-size: 20px;
    font-weight: bold;
    font-style: oblique;
}