body {
    background-color: black;
}

header {
    background-color: white;
    padding: 20px;
    text-align: center;
}

.paragraf-1 {
    background-color: white;
    text-align: justify;
    color: black;
    padding: 20px;
    padding-right: 500px;
}

.paragraf-2 {
    background-color: white;
    text-align: justify;
    color: black;
    padding: 20px;
    padding-right: 500px;
}

.paragraf-3 {
    background-color: white;
    text-align: justify;
    color: black;
    padding: 20px;
    padding-right: 500px;
}

.paragraf-4 {
    background-color: white;
    text-align: justify;
    color: black;
    padding: 20px;
    padding-right: 500px;
}

.paragraf-5 {
    background-color: white;
    text-align: justify;
    color: black;
    padding: 20px;
    padding-right: 500px;
}

h1 {
    text-align: center;
}

h2 {
    color: red;
}

i {
    text-decoration: underline;
}