h1 {
    color: aquamarine;
    text-transform: uppercase;
}

.paragraf-1 {
    color: cadetblue;
    font-size: 18px;
    font-family: arial;
}

#header-1 {
    background-color: lightgray;
    text-align: center;
}

input[type="text"] {
    border: 3px solid green;
}