body {
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
}

.card {
    display: flexbox;
    align-items: center;
    text-align: center;
    width: 350px;
    height: auto;
    padding: 0 0 10px ;
    box-shadow: 0 0 10px  ;
    border-radius: 10px;
}

.pp {
    background-color: rgb(0, 132, 255);
    padding: 10px 20px;
    border-radius: 10px 10px 0 0;
    border-bottom: 5px solid rgb(0, 64, 255);
}

.pp img{
    height: auto;
    width: 100px;
    border-radius: 1000px;
}

.profil {
    padding: 10px;
}

.social {
    display: flexbox;
}

.social-btn {
    padding: 5px;
    align-items: center;
    justify-items: center;
    width: 40px;
    height: 40px;
    background-color: rgb(171, 202, 255);
    border: none;
    border-radius: 10px;
}

.social-btn:hover {
    background-color: rgb(138, 180, 254);
}

.social-btn img {
    width: 20px;
}